body {
  font-family: 'Noto Sans';
  background-color: #eee;
}

header {
  text-align: center;
  line-height: 0.5;
}

#flexbox {
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 15px;
}

.flex h2 {
  text-decoration: underline;
}

.flex h3 {
  line-height: 0;
  margin-top: 40px;
}

.flex h5 {
  margin-bottom: 40px;
}

.flex li {
  margin-bottom: 1em;
  padding-left: 10px;
}